@import url(https://use.fontawesome.com/releases/v6.4.2/css/all.css);

body{
    padding: 0;
    margin: 0;
    background-image: linear-gradient(#c4722a, #FF7F50);
}

header{
    background-image: linear-gradient(#c4722a, #FF7F50);
}
.logo{
    text-align: center;
}
.fotoini{
    width: 700px;
}
.text-comics{
    font-size: 20px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    color: black;
}
a{
    font-size: 20px;
    text-decoration:none;
    color: black;
    border: none;
}
.textcuen{
    font-size: 20px;
}
.regis{
    font-size: 20px;
}
.btn{
    text-decoration: none;
    background-color: none;
    border: none;
    margin-top: 40px;
}
.menu{
    text-align: center;
    background-image: linear-gradient(#FF7F50, #c4722a);
    border: none;

}

.container{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10vmin;
    overflow: hidden;
    transform: skew(5deg);
    background-image: linear-gradient(#c4722a, #FF7F50);
}

.card{
    flex: 1;
    transition: all 1s ease-in-out;
    height: 75vmin;
    position: relative;
}

.car__head{
    position: absolute;
    bottom: 0;
    left: 0;
    min-width: 100%;
    background: #ff1eadbf;
    color: black;
    padding: 0.5em;
    transform: rotate(-90deg);
    transform-origin: 0% 0%;
    transition: all 0.5s ease-in-out;
    text-align: center;
    font-size: 1em;
    white-space: nowrap;
}

/*por si son muy largas las imagenes cambiar aca*/
.card img{
    width: 80%;
    height: 80%;
    object-fit: cover;
    transition: all 1s ease-in-out;
    filter: grayscale(100%);
}
/*esto para separar la imagenes*/
.card:not(:nth-child(5)){
    margin-right: 1em;
}

.card:hover{
    flex-grow: 10;
}

.card:hover img{
    filter: grayscale(0);
}

.card:hover .card__head{
    text-align: center;
    top: calc(100% - 2em);
    background: #00000080;
    color: white;
    font-size: 2em;
    transform: rotate(0deg) skew(-5deg);
}

.a-redes{
    margin: 0 100px;
    border-radius: 50%;
    box-sizing: border-box;
    background: #000000;
    width: 100px;
    height: 100px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 0.5s;
    background: rgba(0, 0, 0, 0);
    color: var(--color);
    font-size: 2.5em;
    margin-left: 160px;
    -webkit-box-reflect: below 5px linear-gradient(to 
    bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
}

.a-redes:hover {
    background: var(--color);
    color: #050801;
    box-shadow: 0 0 5px var(--color),
    0 0 25px var(--color),
    0 0 50px var(--color),
    0 0 200px var(--color);
}

.codetheworld-io{
    background-color: white;
    height: 250px;
}

.titulo-comics{
    font-size: 25px;
    margin-left: 58px;
    color: black;
}
.margi2{
    background-color: none;
    text-decoration: none;
    margin-top: -0px;
}

.Comicstext1{
    font-size: 18px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 60px;
    margin-right: 80px;
    margin-top: 45px;
    color: black;
}

.codetheworld-io{
    background-color: #FF7F50;
}



