body{
    padding: 0;
    margin: 0;
}

header{
    background-color: black;
}
.logo{
    text-align: center;
    
}
.titulo{
    color: white;
}
.fotoini{
    border-radius: 160px;
}
a{
    font-size: 20px;
}
.textcuen{
    font-size: 20px;
}
.regis{
    font-size: 20px;
}

.col-lg-12{
    text-align: center;
    background-color: black;
}